#parent
{
	background-color:#2196f3;
	border: 1px solid white;
	height:200px;
	width:200px;
}
#child
{
	background-color:RGBA(128,128,128,0.5);
	border: 1px solid white;
	height:200px;
	margin-left:50px;
	margin-top:50px;
	width:400px;
	color:white;
}
